<div class="small-hide">
  <svg
    preserveAspectRatio="none"
    width="100%"
    height="360"
    viewBox="0 0 1264 360"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <ellipse cx="829.553" cy="276.64" rx="27.7897" ry="34.9356" transform="rotate(38.8301 829.553 276.64)" fill="#9FD6D2"/>
    <path d="M256.098 260.716C287.678 243.882 307.055 230.032 341.987 232.23C371.393 234.081 384.298 253.178 412.969 260.716C454.613 271.664 480.951 256.38 522.281 268.726C570.2 283.041 575.018 319.21 634.433 335.355C669.533 344.893 726 356 726 356H90C90 356 151.721 333.788 185.826 313.651C216.408 295.594 226.228 276.638 256.098 260.716Z" fill="#9FD6D2"/>
    <path d="M1090.75 313.737C1070.74 306.27 1058.46 300.127 1036.33 301.102C1017.7 301.923 1009.52 310.394 991.352 313.737C964.964 318.593 948.275 311.814 922.086 317.29C891.723 323.639 888.669 339.682 851.021 346.843C828.78 351.074 793 356 793 356H1196C1196 356 1156.89 346.148 1135.28 337.216C1115.9 329.207 1109.68 320.799 1090.75 313.737Z" fill="#9FD6D2"/>
    <line x1="57" y1="357.5" x2="1264" y2="357.5" stroke="white" stroke-width="5"/>
    <path d="M12.9321 166.572C-12.292 119.473 3.5313 68.7693 43.394 33.1953C66.5628 12.5193 87.5854 -6.40359 117.08 3.30942C150.871 14.437 129.718 60.6209 154.063 86.5618C178.076 112.149 220.781 95.8477 233.503 128.551C251.566 174.988 188.771 204.967 140.053 215.42C88.0538 226.577 38.0405 213.454 12.9321 166.572Z" fill="#9FD6D2"/>
  </svg>
</div>

<div class="medium-hide large-up-hide">
  <svg
    preserveAspectRatio="none"
    width="100%"
    height="100"
    viewBox="0 0 1264 360"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <ellipse cx="829.553" cy="276.64" rx="27.7897" ry="34.9356" transform="rotate(38.8301 829.553 276.64)" fill="#9FD6D2"/>
    <path d="M256.098 260.716C287.678 243.882 307.055 230.032 341.987 232.23C371.393 234.081 384.298 253.178 412.969 260.716C454.613 271.664 480.951 256.38 522.281 268.726C570.2 283.041 575.018 319.21 634.433 335.355C669.533 344.893 726 356 726 356H90C90 356 151.721 333.788 185.826 313.651C216.408 295.594 226.228 276.638 256.098 260.716Z" fill="#9FD6D2"/>
    <path d="M1090.75 313.737C1070.74 306.27 1058.46 300.127 1036.33 301.102C1017.7 301.923 1009.52 310.394 991.352 313.737C964.964 318.593 948.275 311.814 922.086 317.29C891.723 323.639 888.669 339.682 851.021 346.843C828.78 351.074 793 356 793 356H1196C1196 356 1156.89 346.148 1135.28 337.216C1115.9 329.207 1109.68 320.799 1090.75 313.737Z" fill="#9FD6D2"/>
    <line x1="57" y1="357.5" x2="1264" y2="357.5" stroke="white" stroke-width="5"/>
    <path d="M12.9321 166.572C-12.292 119.473 3.5313 68.7693 43.394 33.1953C66.5628 12.5193 87.5854 -6.40359 117.08 3.30942C150.871 14.437 129.718 60.6209 154.063 86.5618C178.076 112.149 220.781 95.8477 233.503 128.551C251.566 174.988 188.771 204.967 140.053 215.42C88.0538 226.577 38.0405 213.454 12.9321 166.572Z" fill="#9FD6D2"/>
  </svg>
</div>
